<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591212556634-sn6tc3gneeka0g6214a26aqfqs6ihpuv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591212556634-sn6tc3gneeka0g6214a26aqfqs6ihpuv</string>
	<key>API_KEY</key>
	<string>AIzaSyBAirKMvc7hP2Cv1oHAdtfm_a4457p4-tE</string>
	<key>GCM_SENDER_ID</key>
	<string>591212556634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kevaHealth</string>
	<key>PROJECT_ID</key>
	<string>keva-health-provider</string>
	<key>STORAGE_BUCKET</key>
	<string>keva-health-provider.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591212556634:ios:709547f3f115e10410c363</string>
</dict>
</plist>